/* Navbar.module.css */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav {
  background: #0082e6;
  padding: 0 3rem 0 0;
  z-index: 1000;
}

.ul {
  float: right;
  margin-right: 20px;
}

.ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.link {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.link.active,
.link:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.button {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #1b9bff;
  transition: 0.5s;
}

label.logo{
  color: white;
  font-size: 48px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}


